doctype html
html(lang="en")
    head
        title MedicineRegistry
        link(rel="stylesheet", href="/static/styles.css")
    body 
        header.navbar
            h1 
                a(href="/") Medicine - Registry App 

            nav.nav
                a(href="/Medicines") Lists of all medicines
        block content